*{
  margin: 0;
  padding: 0;
}
.container
{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
li
{
  margin-top: 15px;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: #000000;
  animation-name: list;
  animation-duration: 3s;
  animation-delay: .2s;
}

.app-wrapper{
  background:transparent;
  min-width: 45px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px;
  margin-bottom: 10px;
}
.header h1{
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right:25px ;
  font-size: 20px;
  color: #000000;
  background-color: #e6e1e1;
  border: 1px solid black;
  border-radius: 10px;
}
.button-add{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}
.list-item{
  display: flex;
  margin: 20px 0;
  border: 1px solid green;
  padding: 10px;
  max-height: 30px;
}
.button-complete,
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 10%;

}
.button-complete{
  color:#10c27e;
  font-weight: 300;
  margin-right: 10px;
}
.button-edit
{
  color:#ffffff;
  font-size: x-large;
  margin-right: 10px;
}
.button-edit:hover{
  font-weight: 800;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.button-delete
{
  color:#ffffff;
 /* margin-right: 10px;*/
}
.button-complete{
  color: white;
  margin-left: 10px;
}

.button-delete:hover{
  font-weight: 800;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(252, 252, 252);
}
.button-complete:hover{
  font-weight: 500;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(252, 252, 252);
}
.complete
{
  text-decoration-style:solid ;
  text-decoration-line:line-through ;
  text-decoration-color:#ff6c6c ;
  opacity: 0.6;
}
.list{
  width: 220px;
  background:linear-gradient(to right,white,rgb(254, 255, 255),white);
  border: none;
  color: #000000;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}
input:focus,
button:focus{
  outline: none;
}
/* input fleid class name */

.todo-text{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:19px;
  border: none;
}
.todo-text {  
  flex-grow: 1;
  font-size: 16px;
  border: none;

  color: #333;
  padding: 10px 10px; 
  padding-left: 5px; 
}

.todo-text.completed {
  text-decoration: line-through;
  color: #bbb;
}